## Method: 1

In [ ]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
scope = ['https://www.googleapis.com/auth/spreadsheets', "https://www.googleapis.com/auth/drive.file", "https://www.googleapis.com/auth/drive"]
cread = ServiceAccountCredentials.from_json_keyfile_name('google_sheet_key.json',scope)
print(cread)
client = gspread.authorize(cread)

sheet = client.open("Sample Data").sheet1

# Data Access
# print(sheet.get_all_records())
# print(sheet.row_values(2))
# print(sheet.cell(2,1).value)
# print(sheet.col_values(1))

# Data insert
#sheet.insert_row(["Shoba", 65], 2)

# delete:
# sheet.delete_row(4)

# update
# sheet.update_cell(2,2,64)

# find
# cell = sheet.find("Anbarasan")
# print(cell.value)
# print(cell.row)
# print(cell.col)

## Method: 2

In [5]:
# https://docs.google.com/spreadsheets/d/1vUbKeBZcbvutiPEDKN3JpPGNe06lbOur9IEhsd4x5Vs/edit?usp=sharing
import pandas as pd
sheet_id = '1vUbKeBZcbvutiPEDKN3JpPGNe06lbOur9IEhsd4x5Vs'

df = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv")

Name   Age
0      Shoba   64
1  Anbarasan   27

## Method: 3

In [1]:
import pandas as pd
from gspread_pandas import Spread
%matplotlib inline

In [5]:
s = Spread('Sample Data')

In [6]:
print(s)

<gspread_pandas.spread.Spread - 'User: 'anbu-224@anbarasan.iam.gserviceaccount.com', Spread: 'Sample Data', Sheet: 'Sheet1''>

In [9]:
s.open_sheet(0)

In [10]:
df = s.sheet_to_df()

In [11]:
df.head()

          Age
Name
Shoba      64
Anbarasan  27

In [12]:
pd_df = pd.DataFrame(df, dtype=int)
pd_df.head()

           Age
Name
Shoba       64
Anbarasan   27

In [13]:
pd_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Shoba to Anbarasan
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     2 non-null      int64
dtypes: int64(1)
memory usage: 112.0+ bytes

In [14]:
pd_df.describe()

             Age
count   2.000000
mean   45.500000
std    26.162951
min    27.000000
25%    36.250000
50%    45.500000
75%    54.750000
max    64.000000